<!DOCTYPE html>
<html lang="en" xlmns:background-image="research.jpg">
  <head>

    <title>A-RAY</title>
    <meta charset="utf-8"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900"
    />
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../static/css/magnific-popup.css" />
    <link rel="stylesheet" href="../static/css/jquery-ui.css" />
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css" />

    <link rel="stylesheet" href="../static/fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="../static/css/aos.css" />

    <link rel="stylesheet" href="../static/css/style.css" />
    <style>
    html, body {
    max-width: 100%;
    overflow-x: hidden;
}
    </style>
  </head>
  <body>
    <div class="site-wrap">
      <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      <!-- .site-mobile-menu -->

      <div class="site-navbar-wrap">
        <div class="site-navbar-top">
          <div class="container py-3">
            <div class="row align-items-center">
              <div class="col-6">
                
              </div>
              <div class="col-6">
                <div class="d-flex ml-auto">
                  <a href="index.html#" class="d-flex align-items-center ml-auto mr-4">
                    
                    <span class="d-none d-md-inline-block"
                      >aray@gmail.com</span>
                  </a>
                  <a href="index.html#" class="d-flex align-items-center">
                   
                    <span class="d-none d-md-inline-block"
                      >+918879706543</span
                    >
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="site-navbar">
          <div class="container py-1">
            <div class="row align-items-center">
              <div class="col-2">
                <h1 class="mb-0 site-logo">
                  <a href="index.html#">A-RAY</a>
                </h1>
              </div>
              <div class="col-10">
                <nav class="site-navigation text-right" role="navigation">
                  <div class="container">
                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                      <a
                        href="index.html#"
                        class="site-menu-toggle js-menu-toggle text-white"
                        ><span class="icon-menu h3"></span
                      ></a>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="site-blocks-cover overlay"
        style="background-image: url(https://miro.medium.com/max/11966/1*M_MV8A9dLp4bczXzcG0jYg.jpeg)";
        data-aos="fade"
        data-stellar-background-ratio="0.5"
      >
        <div class="container">
          <div
            class="row align-items-center text-center justify-content-center"
          >
            <div class="col-md-8">
              <span class="sub-text"><strong>Accumulative Research Analysis for Youth</strong></span>
              <h1>A-RAY</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="site-block-1">
        <div class="container">
        <div class="row align-items-center text-center justify-content-center">
      <a href="https://docs.google.com/spreadsheets/d/1QHl_7jIEWyg-bvsxQUYpxlnSzXxPNcpWceVitFoYpUE/edit?usp=sharing" class="col-3 site-block-feature p-4 rounded mb-4 mr-3 font-weight-light h2 text-center" style="flex-direction: row; justify-content: center;">
          <h3>Dataset</h3></a>
      <a href="https://github.com/ridhed/A-RAY/blob/main/student-performance-analysisi-.ipynb" class="col-3 site-block-feature p-4 rounded mb-4 mr-3 font-weight-light h2 text-center" style="flex-direction: row; justify-content: center;">
          <h3>Analysis</h3></a>
      <a href="https://github.com/ridhed/A-RAY/blob/main/Sentiment-Analysis-Parents-Thought-On-E-Learning.ipynb" class="col-3 site-block-feature p-4 rounded mb-4 mr-3 font-weight-light h2 text-center" style="flex-direction: row; justify-content: center;">
           <h3>Prediction</h3></a>
        </div></div></div>
      <!--<div class="site-block-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <a class="site-block-feature d-flex p-4 rounded mb-4">
                <div class="mr-3">
                  <span
                    class="icon flaticon-analysis1 font-weight-light h2"
                  ></span>
                </div>
                <div class="text">
                  <h3>Dataset</h3>
                  <p>
                     Data used for prediction.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-lg-4">
              <a  class="site-block-feature d-flex p-4 rounded mb-4">
                <div class="mr-3">
                  <span
                    class="icon flaticon-analysis2 font-weight-light h2"
                  ></span>
                </div>
                <div class="text">
                  <h3>Analysis</h3>
                  <p>
                    Analysing the dataset.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-lg-4">
              <a  class="site-block-feature d-flex p-4 rounded mb-4">
                <div class="mr-3">
                  <span
                    class="icon flaticon-analysis3 font-weight-light h2"
                  ></span>
                </div>
                <div class="text">
                  <h3>Prediction</h3>
                  <p>
                    Performing predictions on data.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>-->
      
      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
              <div class="">
                <img src="../static/images/prediction.png" alt="Image" class="img-fluid" />
              </div>
            </div>
            <div class="col-lg-5 ml-auto">
              <h2>About us</h2>
              <span class="sub-title mt-5">A-RAY  is a Student Sentiment analysis project based on data collected via the website.
The project's purpose is to  show a better understanding of students sentiments during E-learning.Students had underlying difficulties throughout the crisis, so we intend to examine their feelings from their perspectives.
              </span>

            </div>
          </div>
        </div>
      </div>
       <div class="site-section site-block-3 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
              <div class="">
                <img src="../static/images/research.jpg" alt="Image" class="img-fluid" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row row-items">
                <div class="col-6">
                  <a

                    class="d-flex text-center feature active p-4 mb-4 bg-white"
                  >
                    <span class="align-self-center w-100">
                      <span class="d-block mb-3">
                        <span class="flaticon-step-ladd display-3"></span>
                      </span>
                      <h3>Data Analysis</h3>
                    </span>
                  </a>
                </div>
                <div class="col-6">
                  <a

                    class="d-flex text-center feature active p-4 mb-4 bg-white"
                  >
                    <span class="align-self-center w-100">
                      <span class="d-block mb-3">
                        <span class="flaticon-sit-do display-3"></span>
                      </span>
                      <h3>Data Research</h3>
                    </span>
                  </a>
                </div>
              </div>
              <div class="row row-items last">
                <div class="col-6">
                  <a

                    class="d-flex text-center feature active p-4 mb-4 bg-white"
                  >
                    <span class="align-self-center w-100">
                      <span class="d-block mb-3">
                        <span class="flaticon-turned-o display-3"></span>
                      </span>
                      <h3>Data Prediction</h3>
                    </span>
                  </a>
                </div>
                <div class="col-6">
                  <a

                    class="d-flex text-center active feature active p-4 mb-4 bg-white"
                  >
                    <span class="align-self-center w-100">
                      <span class="d-block mb-3">
                        <span class="flaticon-wind display-3"></span>
                      </span>
                      <h3>Data Report</h3>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section bg-light">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-lg-12">
          <h6 class="site-heading text-black mb-5">Fill this form to generate your report</h6>
            <h2 class="site-heading text-black mb-5"><strong>Enter your details here:</strong></h2>
        <div class="row ">
          <div class="col-md-6">
            <form action="/prediction" method="post" class="p-5 bg-white"><input type="hidden" name="csrfmiddlewaretoken" value="HVd0OxwtqsVJP8SJHJzJLC6Kzm65vfuaL4eK9X7fLT7X16lIqP5qEGrgeLnu78M0">

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">Name</label>
                  <input type="text" id="name" name="name" class="form-control" placeholder="Please enter your full name here">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="education">Level of Education</label>
                  <select name="education" id="education" placeholder="Select your level of education">
                    <option value="demo">--Select your option--</option>
                    <option value="primary">Primary School</option>
                    <option value="secondary">Secondary School</option>
                    <option value="higher">Higher Scondary School</option>
                    <option value="ug">Under Graduate</option>
                    <option value="pg">Post Graduate</option>
                  </select>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="message">Description</label>
                  <textarea name="message" id="message" name="message" cols="30" rows="5" class="form-control" placeholder="Enter your experience in online and offline mode of education here"></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="feedback">Feedback about website</label>
                  <input type="text" id="feedback" name="feedback" class="form-control" placeholder="Please enter your feedback here">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                 <input type="submit" value="Submit" class="btn btn-primary rounded-0 btn-lg">
                </div>
              </div>


            </form>
            
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
<div class="col-md-8">
              <span class="sub-text"><strong><h4>Developed by:</h4></strong></span>
            </div>
      <div class="site-section  border-bottom">

        <div class="container">
          <div class="row">

            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <div class="media custom-media">

                <div class="mr-3 icon">
                  <span class="flaticon-4 display-4"></span>
                </div>
                <div class="media-body">
                  <h5 class="mt-0">Aditi Agwan</h5>
                
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <div class="media custom-media">
                <div class="mr-3 icon">
                  <span class="flaticon-analysis5 display-4"></span>
                </div>
                <div class="media-body">
                  <h5 class="mt-0">Alefiya Sanawadwala</h5>
                 
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <div class="media custom-media">
                <div class="mr-3 icon">
                  <span class="flaticon-analysis6 display-4"></span>
                </div>
                <div class="media-body">
                  <h5 class="mt-0">Riddhi Hedaoo</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="site-footer border-top">
        <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>

  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <p>Developed By Alefiya Sanawadwala</p>
  </div>
  <!-- Copyright -->

      </footer>
    </div>

    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../static/js/jquery-ui.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/jquery.stellar.min.js"></script>
    <script src="../static/js/jquery.countdown.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/bootstrap-datepicker.min.js"></script>
    <script src="../static/js/aos.js"></script>
    <script src="https://kit.fontawesome.com/2622118687.js" crossorigin="anonymous"></script>

    <script src="../static/js/main.js"></script>
  </body>
</html>
